<form action="/howls" method="post">
  <div class="form-group">
    What are you howling about:
    <input type="text" class="form-control" name="text" value="<%= @howl.text %>">
  </div>
  <div class="form-group">
    Optional Image Link:
    <input type="text" class="form-control" name="image" value="<%= @howl.image %>">
  </div>
  <div class="form-group">
    Who is howling:
    <input type="text" class="form-control" name="wolf_id" value="<%= @howl.wolf_id %>">
  </div>
  <div class="form-group">
    <input type="submit" value="HOWL!!!" class="btn btn-default">
  </div>
</form>
<p><a href="/wolves/index">Back to Wolves</a></p>
