<h1>Welcome to Howlr</h1>

<h2>Let's Join a Pack</h2>
<p><a href="/wolves/new">Aroooo!</a></p>
<br>
<br>
<p><a href="/wolves/index">Howl Howl the Pack's all here!</a></p>
<br>
<p><a href="/wolves/new">Want to join the pack</a></p>
<br>
<p><a href="/howls/index">Howls abound</a></p>
<br>
